<template>
    <div class="modal fade" id="newProjectModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form @submit.prevent="createProject()" class="relative modal-content rounded-lg shadow-lg overflow-hidden">
                <div class="px-4 py-5 sm:px-6 modal-body">
                    <div>
                        <h5>Create a new project</h5>

                        <p class="mt-2 text-sm">
                            A repository contains all project files, including the revision history. Already have a project repository elsewhere?
                        </p>
                    </div>

                    <div class="mt-10">
                        <label class="block">
                            <span class="text-gray-700 text-sm font-semibold">Name</span>

                            <input name="name" id="name" v-model="name" type="text" class="form-input mt-1 block w-full" required placeholder="My Super Awesome Project">

                            <div class="mt-1 leading-tight">
                                <span class="text-xs text-gray-500 font-medium">
                                    Great project names are short and memorable. Need inspiration? How about fantastic-fortnight?
                                </span>
                            </div>
                        </label>
                    </div>

                    <div class="mt-6">
                        <label class="block">
                            <span class="text-gray-700 text-sm font-semibold">Description</span>

                            <textarea name="description" v-model="description" id="description" rows="5" placeholder="Tell us a little about your project" class="form-input block w-full mt-1"></textarea>
                        </label>
                    </div>

                    <div class="mt-6 flex items-center">
                        <input id="has_git" name="has_git" v-model="has_git" checked type="checkbox" class="form-checkbox h-4 w-4 transition duration-150 ease-in-out" />

                        <label for="has_git" class="ml-2 block font-semibold text-sm leading-5 text-gray-700">
                            Initialize git?
                        </label>
                    </div>
                </div>

                <div class="px-4 py-5 sm:px-6 modal-footer justify-between bg-gray-200">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <button type="submit" class="btn btn-primary inline-flex items-center">
                        <span v-show="loading">
                            <svg class="animate-spin -ml-1 mr-2 h-4 w-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                        </span>

                        <span>Create project</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: null,
                description: null,
                has_git: false,
                loading: false,
                successful: false
            }
        },

        methods: {
            async createProject() {
                this.loading = true;

                await axios.post('/projects', {
                        name: this.name,
                        description: this.description,
                        has_git: this.has_git
                    })
                    .then(response => {
                        if (response.status === 200) {
                            this.successful = true;

                            this.$emit('created', response.data);

                            $('#newProjectModal').modal('hide');
                        }
                    });

                    this.loading = false;
            }
        }
    }
</script>
