<template>
    <div>
        <div class="row">
            <div class="col-lg-4 col-md-6 flex flex-col" v-for="project in projects">
                <Project :project="project" />
            </div>
        </div>

        <NewProject @created="fetch()" />
    </div>
</template>

<script>
    import NewProject from './NewProject';
    import Project from './Project';

    export default {
        components: {
            NewProject,
            Project,
        },

        props: ['user'],

        data() {
            return {
                projects: []
            }
        },

        created() {
            this.fetch();
        },

        methods: {
            fetch() {
                axios.get('/projects')
                    .then(response => {
                        this.projects = response.data;
                    });
            }
        }
    }
</script>
